.red {
    color: red;
}

.green {
    color:green;
}
.blue{
    color:blue;
}
.black {
        border-radius: 50%;
        color:red;
        border: 2px solid black;
        background-color: blue;
}











/****** DO NOT CHANGE THE STYLES BELOW THIS ******/

body {
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
}

li {
    margin: 0;
    display: inline-block;
    font-size: 3em;
    padding: 0.25em;
}